
#text{
    float: left;
    width:80% ;
}
body{
    background-image:url("https://wallpaperset.com/w/full/c/a/5/15888.jpg");
    background-repeat: no-repeat;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: 2px 2px black;
}
#mission{
    background-color: white;
    color:black;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow: none;
}
#name{
    text-shadow: none;
    color: white;
}