<html>
    <head>
        <title>Registration page</title>
    </head>
    <body>
        <h1>CREATE ACCOUNT</h1>
        <form>
            <input type="text" id="name" name="fname" placeholder="Your Name"><br>
            <input type="email"  name="email" placeholder="Your Email"><br>
            <input type="password" placeholder="Password"><br>
            <input type="password" placeholder="Repeat Your Password"><br>
            <input type="radio">I agree all statements in Terms of service<br>
            <div>
            <button type="button">Sign Up</button>
            </div>
            <p>Have an account already <a href="link.com">login here</p>

        </form>
    </body>
</html>